@model UserDataHelper

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
	<div class="modal fade" id="modalEditProfile" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<ul class="nav nav-pills">
						<li class="nav-item active">
							<a class="nav-link active" href="#home" data-toggle="tab">Профиль</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#profile" data-toggle="tab">Пароль</a>
						</li>
					</ul>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				@using (var context = new RelaxEntityContext())
				{
					var client = context.Clients.Where(x => x.Email == UserSession.CurrentUserEmail).FirstOrDefault();
					<div id="myTabContent" class="tab-content modal-body">
						<div class="tab-pane active in" id="home">
							<form asp-action="UpdateClientData" method="post">
								<div class="form-group">
									<label>ФИО</label>
									<input type="text" value=@client.Name asp-for="Name" placeholder="ФИО" class="form-control">
								</div>
								<div class="form-group">
									<label>Телефон</label>
									<input type="text" value=@client.Phone asp-for="Phone" placeholder="Номер телефона" class="form-control">
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary" type="submit" id="editUser">Сохранить</button>
									<button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
								</div>
							</form>
						</div>
						<div class="tab-pane" id="profile">
							<form id="password">
								<div class="tab-content">
									<div class="form-group">
										<label>Старый пароль</label>
										<input type="password" class="form-control">
									</div>
									<div class="form-group">
										<label>Новый пароль</label>
										<input type="password" class="form-control">
									</div>
									<div class="form-group">
										<label>Повторите старый пароль</label>
										<input type="password" class="form-control">
									</div>
								</div>
							</form>
						</div>
					</div>
				}
			</div>
		</div>
	</div>

	<div id="mainwrapper">
		<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
			<ul class="nav mr-auto nav-pills">
				<li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="clientEvents">Мероприятия</a></li>
				<li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="clientOrders">Заказы</a></li>
				<li class="nav-item"><a class="nav-link active" asp-action="Index" asp-controller="clientProfile">Профиль</a></li>
			</ul>

			<form class="form-inline my-2 my-lg-0 justify-content-end" action="../../Home/Index" method="post" name="exitForm">
				<button type="button" class="btn btn-primary" style="margin-right: 15px;">
					<img src="/icons-1.0.0-alpha2/icons/archive-fill.svg" alt="Корзина" width="32" height="32" title="Корзина">
					@using (var context = new RelaxEntityContext())
					{
						var client = context.Clients.Where(x => x.Email == UserSession.CurrentUserEmail).FirstOrDefault();
						var orders = context.Orders.Where(x => x.ClientNavigation == client).Distinct().OrderBy(x => x);
						<span class="badge badge-light">@orders.Count()</span> @*число заказов*@
					}
				</button>
				<button class="btn btn-outline-danger my-2 my-sm-0" type="submit" action="Home/Index">Выйти</button>
			</form>
		</nav>
	</div>
	@using (var context = new RelaxEntityContext())
	{
		var client = context.Clients.Where(x => x.Email == UserSession.CurrentUserEmail).FirstOrDefault();
		<div class="card text-left pl-3 border-0" style="max-width: 1200px">
			<h3>@client.Name</h3>
			<div class="ml-4 row">
				<div class="col">
					<div class="row">
						<img src="/icons-1.0.0-alpha2/icons/phone.svg" alt="Телефон" width="32" height="32">
						<p>@client.Phone</p>
					</div>
					<div class="row">
						<img src="/icons-1.0.0-alpha2/icons/Envelope.svg" alt="Почта" width="32" height="32">
						<p>@client.Email</p>
					</div>
				</div>
				<div class="col">
					<button class="btn" type="button" data-toggle="modal" data-target="#modalEditProfile">
						<svg class="bi bi-pencil text-primary" width="3em" height="3em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M13.293 3.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM14 4l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"></path>
							<path fill-rule="evenodd" d="M14.146 8.354l-2.5-2.5.708-.708 2.5 2.5-.708.708zM5 12v.5a.5.5 0 00.5.5H6v.5a.5.5 0 00.5.5H7v.5a.5.5 0 00.5.5H8v-1.5a.5.5 0 00-.5-.5H7v-.5a.5.5 0 00-.5-.5H5z" clip-rule="evenodd"></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
	}
	<div id="content">
		<?php echo $tpl['content']?>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/css/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>